@import './settings.scss';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}

.btn--success, .btn--warning, .btn--edit {
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
        opacity: .7;
    }
}

.btn--success{
    background: lightgreen
}

.btn--warning {
    background: red;
}

.btn--edit {
    background: lightgray;
}